﻿@{
    ViewBag.Title = "Home Page";
}

@{ 
    IEnumerable<SelectListItem> Options = new List<SelectListItem>();
}
@Html.ListBox("select2-multiple", Options, new { @class = "select2-multiple" })


@section styles{
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />
    <style>
        .select2-multiple {
            width: 75%;
            min-width: 330px;
        }
    </style>
}
@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
    <script>
        $(function () {
            $(".select2-multiple").select2({
                ajax: {
                    url: "/Home/TestApi",
                    dataType: 'json',
                    delay: 250,
                    data: function (params) {
                        //console.log(params);
                        return {
                            q: params.term, // search term
                            page: params.page
                        };
                    },
                    processResults: function (data, params) {
                        params.page = params.page || 1;
                        //console.log("Return_date:  ", data);
                        //console.log("Return_params:  ", params);
                        //console.log("Return_date:  ", data.items);

                        return {
                            results: data,
                            //是否使用分頁
                            pagination: {
                                more: (params.page * 30) < data.total_count
                                //還有沒有更多結果
                            }
                        };
                    }
                },
                    //data: options,
                maximumInputLength: 10,
                minimumInputLength: 1,
                tags: true,
                tokenSeparators: [',', ' '],
                placeholder: "可輸入多組，以 \",\" 分隔，例：orange, peach, cherry",
            });
        });
    </script>
}